In [26]:
#Import 
import pandas as pd
StateList = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware','Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',  'Maine',
'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi','Missouri', 'Montana', 'Nebraska', 'Nevada',
'New_Hampshire', 'New_Jersey', 'New_Mexico', 'New_York', 'North_Carolina', 'North_Dakota', 'Ohio', 'Oklahoma', 'Oregon',
'Pennsylvania', 'Rhode_Island', 'South_Carolina', 'South_Dakota', 'Tennessee', 'Texas',  'Utah',  'Vermont',  'Virginia',
'Washington',  'West_Virginia',  'Wisconsin',  'Wyoming']

for i in StateList:
    path = (f'{i}.csv')
    PlantList=pd.read_csv(path)

ParserError: Error tokenizing data. C error: EOF inside string starting at row 6487

In [21]:
len(StateList)

50

In [23]:
PlantList.head()

,Symbol,Synonym Symbol,Scientific Name with Author,National Common Name,Family
0,ACARO2,NaN,Acarospora A. Massal.,cracked lichen,Acarosporaceae
1,ACER,NaN,Acer L.,maple,Aceraceae
2,ACGL,NaN,Acer glabrum Torr.,Rocky Mountain maple,Aceraceae
3,ACGLG2,NaN,Acer glabrum Torr. var. glabrum,Rocky Mountain maple,Aceraceae
4,ACGLG2,ACGLT3,Acer glabrum Torr. var. tripartitum (Nutt. ex ...,NaN,Aceraceae

In [3]:
#Extract Genus and Specie Name by taking First two Words from 'Scientific Name with Author'
Scientificname=[]
for x in PlantList['Scientific Name with Author']:
    name=x.split()[:2]
    Scientificname.append(name)
#my_string.split()[:4]

In [24]:
#Create a Dataframe with Scientific Name
Scientificnamedf=pd.DataFrame(Scientificname, columns = ['Genus', 'Species'])
Scientificnamedf['Scientific Name with Author']=PlantList['Scientific Name with Author']
Scientificnamedf.head()

        Genus  Species                        Scientific Name with Author
0  Acarospora       A.                              Acarospora A. Massal.
1        Acer       L.                                            Acer L.
2        Acer  glabrum                                 Acer glabrum Torr.
3        Acer  glabrum                    Acer glabrum Torr. var. glabrum
4        Acer  glabrum  Acer glabrum Torr. var. tripartitum (Nutt. ex ...

In [22]:
Compositedf=PlantList.merge(Scientificnamedf)
Compositedf.head()

,Symbol,Synonym Symbol,Scientific Name with Author,National Common Name,Family,Genus,Species
0,ACARO2,NaN,Acarospora A. Massal.,cracked lichen,Acarosporaceae,Acarospora,A.
1,ACER,NaN,Acer L.,maple,Aceraceae,Acer,L.
2,ACGL,NaN,Acer glabrum Torr.,Rocky Mountain maple,Aceraceae,Acer,glabrum
3,ACGLG2,NaN,Acer glabrum Torr. var. glabrum,Rocky Mountain maple,Aceraceae,Acer,glabrum
4,ACGLG2,ACGLT3,Acer glabrum Torr. var. tripartitum (Nutt. ex ...,NaN,Aceraceae,Acer,glabrum

In [12]:
#Delete Plants with out Legitimate Species Names >
#Delete Plants with an Capital Species Name
#Create Column with Full Scientific Plant Name
Compositedf=Compositedf[Compositedf.Species.str[0].str.islower()]
Compositedf['Scientific Name'] = Compositedf['Genus']+" "+Compositedf['Species']
Compositedf.head()

,Symbol,Synonym Symbol,Scientific Name with Author,National Common Name,Family,Genus,Species,Scientific Name
2,ACGL,NaN,Acer glabrum Torr.,Rocky Mountain maple,Aceraceae,Acer,glabrum,Acer glabrum
3,ACGLG2,NaN,Acer glabrum Torr. var. glabrum,Rocky Mountain maple,Aceraceae,Acer,glabrum,Acer glabrum
4,ACGLG2,ACGLT3,Acer glabrum Torr. var. tripartitum (Nutt. ex ...,NaN,Aceraceae,Acer,glabrum,Acer glabrum
5,ACGLG2,ACGLT4,Acer glabrum Torr. var. typicum (Wesmael) Keller,NaN,Aceraceae,Acer,glabrum,Acer glabrum
6,ACGLG2,ACTR3,Acer tripartitum Nutt. ex Torr. & A. Gray,NaN,Aceraceae,Acer,tripartitum,Acer tripartitum

,Symbol,Synonym Symbol,Scientific Name with Author,National Common Name,Family,Genus,Species,Scientific Name
2,ACGL,NaN,Acer glabrum Torr.,Rocky Mountain maple,Aceraceae,Acer,glabrum,Acer glabrum
3,ACGLG2,NaN,Acer glabrum Torr. var. glabrum,Rocky Mountain maple,Aceraceae,Acer,glabrum,Acer glabrum
4,ACGLG2,ACGLT3,Acer glabrum Torr. var. tripartitum (Nutt. ex ...,NaN,Aceraceae,Acer,glabrum,Acer glabrum
5,ACGLG2,ACGLT4,Acer glabrum Torr. var. typicum (Wesmael) Keller,NaN,Aceraceae,Acer,glabrum,Acer glabrum
6,ACGLG2,ACTR3,Acer tripartitum Nutt. ex Torr. & A. Gray,NaN,Aceraceae,Acer,tripartitum,Acer tripartitum

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy