In [47]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from splinter import Browser

In [48]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [49]:
##NASA_NEWS##
url= 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [50]:
#connect to browser, create beautifulSoup object to parse through HTML
html = browser.html
soup = bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [51]:
##NEWS_TITLES##
news_title= soup.find('div', class_='content_title').get_text()
news_title

'Mars Scientists Investigate Ancient Life in Australia'

In [52]:
news_paragraph= soup.find('div',class_="article_teaser_body")
news_paragraph.get_text()

"Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. "

In [158]:
##JPL_IMAGE##
url2= 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [159]:
#connect to browser, create beautifulSoup object to parse through HTML
html = browser.html
soup2 = bs(html, 'html.parser')
type(soup2)

bs4.BeautifulSoup

In [160]:
#clicks 'full size image' button
browser.click_link_by_id("full_image")
browser.url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [172]:
#full image, source
image_source= browser.find_by_id("full_image")['data-link']
image_source
#full-size image url= base url + image source
featured_image_url= "'https://www.jpl.nasa.gov" + str(image_source)
featured_image_url

"'https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA17978"

In [173]:
##MARS_WEATHER##
url3= 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [174]:
html=browser.html
soup3= bs(html, 'html.parser')

In [175]:
#weather tweet
mars_weather= soup3.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

"First geologic map of Saturn's moon Titan. The Cassini mission continues to deliver. https://www.jpl.nasa.gov/news/news.php?feature=7542\xa0…pic.twitter.com/tGK8vUWw81"

In [176]:
##MARS_FACTS##
url4= 'https://space-facts.com/mars/'
browser.visit(url4)

In [177]:
html= browser.html
soup4=bs(html, 'html.parser')

In [178]:
#pandas reading html table, first table on page
mars_table= pd.read_html(url4)
mars_fact= mars_table[0]

In [179]:
mars_fact

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [180]:
#rename columns, reset index
mars_fact.columns= ['Description', 'Value']
mars_facts= mars_fact.set_index('Description', inplace= False)
mars_facts

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [250]:
##MARS_HEMISPHERES##
url5= 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)

In [251]:
html= browser.html
soup5=bs(html, 'html.parser')

In [252]:
#find first hemsphere's title
hemi1= soup5.find('div', class_='description')
hemi1_title= hemi1.a.text
hemi1_title

'Cerberus Hemisphere Enhanced'

In [253]:
#click on first hemiphere's link
browser.click_link_by_partial_text('Cerberus')

In [254]:
browser.url

'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'

In [255]:
#find first image url
h1_url= browser.find_link_by_partial_href('cerberus')['href']
h1_url

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [256]:
#find second hemsphere's title
hemi2= soup5.find_all('div', class_='description')[1]
hemi2_title= hemi2.a.text
hemi2_title

'Schiaparelli Hemisphere Enhanced'

In [258]:
#click on second hemiphere's link
browser.click_link_by_partial_text('Schiaparelli')

In [262]:
browser.url

'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_unenhanced'

In [264]:
#find second image url
h2_url= browser.find_link_by_partial_href('schiaparelli')['href']
h2_url

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_unenhanced.tif/full.jpg'

In [265]:
#find third hemisphere's title
hemi3= soup5.find_all('div', class_='description')[2]
hemi3_title= hemi3.a.text
hemi3_title

'Syrtis Major Hemisphere Enhanced'

In [267]:
#find third image url
h3_url= browser.find_link_by_partial_href('syrtis')['href']
h3_url

'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_unenhanced'

In [268]:
#find fourth hemisphere's title
hemi4= soup5.find_all('div', class_='description')[3]
hemi4_title= hemi4.a.text
hemi4_title

'Valles Marineris Hemisphere Enhanced'

In [269]:
#find third image url
h4_url= browser.find_link_by_partial_href('valles')['href']
h4_url

'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_unenhanced'

In [274]:
##SAVE TO DICTIONARY##
hemisphere_image_urls= [{"Title": hemi1_title, "Image URL": h1_url},
                       {"Title": hemi2_title, "Image URL": h2_url},
                       {"Title": hemi3_title, "Image URL": h3_url},
                       {"Title": hemi4_title, "Image URL": h4_url}]

In [275]:
hemisphere_image_urls

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Image URL': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Image URL': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_unenhanced.tif/full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Image URL': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_unenhanced'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Image URL': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_unenhanced'}]